
<div class="image">
  <img src="/app/assets/images/map.png" height = "844" width = "844">
</div>


<%= @flat.name %> <br>  
Address: <%= @flat.address %><br>  
A bit more about this flat..<%= @flat.description %><br>  
<i class="fas fa-dollar-sign"></i><%= @flat.price_per_night %>
<i class="fas fa-user-friends"></i> <%= @flat.number_of_guests %>   
